<div class = "center jumbotron">
<h1>Listing To Do Items </h1>
</div>

<div class = "container">



   <table class="table">
   
       <tr>
      <th>Title</th>
      <th>Due date</th>
      <th>Description</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <% @todo_list.todo_items.each do |todo_item| %>
      <tr>
        <td><%= todo_item.title %> Title</td>
        <td><%= todo_item.due_date %></td>
        <td><%= todo_item.description %></td>
        <td><%= todo_item.completed %></td>
        <td><%= link_to 'Show', [@todo_list, todo_item] %></td>
        <td><%= link_to 'Destroy', [@todo_list, todo_item], method: :delete %></td>
		
		       
		
      </tr>
	  	
    <% end %>
	</table>
	<div class="number"><td><%= link_to 'New Todo Item', new_todo_list_todo_item_path(@todo_list) %></td></div>


<br>
<h1>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', root_path %>
</div></h1>







